/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
/* setting the banner as a background */
.banner-container{
    background-image: url('../../../img/banner1.jpg');
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Serif', serif;
    
    
}
.banner-text-container{
    
    color:#e1d89f;
}